
 <form action="/artist-search" method="get">

    <label for="artist_name">Artist name</label>
    <input type="text" name="artist_name" id="artist_name" />
    <button type="submit">Search for an Artist</button>
</form>


